@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Estedad"; /* تغییر به Estedad */
  src: url("/public/fonts/ttf/Estedad-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* استفاده از فونت استعداد */
body {
  font-family: "Estedad", sans-serif;
}

/* تغییرات استایل‌های swiper */
.swiper-button-next,
.swiper-button-prev {
  width: 3rem !important;
  background-color: #cccccc57 !important; /* پس‌زمینه طوسی */
  border-radius: 50% !important; /* دایره‌ای کردن دکمه‌ها */
  width: 40px !important; /* عرض دکمه */
  height: 40px !important; /* ارتفاع دکمه */
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.61) !important; /* سایه ملایم */
  transition: all 0.3s ease-in-out; /* انیمیشن */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: rgba(0, 0, 0, 0.664) !important; /* رنگ آیکون داخل دکمه */
  font-size: 20px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #aaaaaa6e !important; /* رنگ طوسی تیره‌تر هنگام هاور */
  transform: scale(1.1); /* بزرگ‌تر شدن دکمه هنگام هاور */
}

.swiper-pagination {
  position: absolute !important;
}

.swiper-pagination-bullet {
  background-color: red !important;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  height: 45.5rem !important;
}

.swiper-init50lized {
  height: 4
}
/* @media (min-width: 1024px) {
  .wwww {
    height: 90% !important;
  }
}

@media (max-width: 765px) {
  .wwww {
    height: 90% !important;
  }
} */
